*{

    font-family: sans-serif;
    justify-content: center;

    
}
body{
    background-color: #03045e;
    background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
nav{
    color: cornflowerblue;
    align-items: center;
}
header
{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #90E0EF;
}
a{
    text-decoration: none;
    background-color: transparent;
    color:unset
}
nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B6;
    position: sticky;
    
}

article{
    width: 97%;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #00B4D8;
    font-size: 20px;
    border-radius: 25px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B6;
    position: static;
    left: 0;
    bottom: 0;

    
}

.world_map{
    width: 60%;
    height: 80%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/*-----------------------------------------------*/
/* CHARACTERS */
/*-----------------------------------------------*/
.Metrica{
    clear: both;
}
.Advanced{
    clear: both;
}
.Kanyu{
    clear: both;
}

/*-----------------------------------------------*/
/* Dropdown Menu */
/*-----------------------------------------------*/
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown button{


    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 20%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #90E0EF;
    text-align: center;
    color: black;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    flex-direction: column;
}
.dropdown:hover .content{
    
    display: block;
    background-color: #CAF0F8;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    
}
.dropdown:hover button{
    background-color: #CAF0F8;
}
.dropdown a:hover{
    background-color: #90E0EF;
}

/*-----------------------------------------------*/
/* Dropdown Menu */
/*-----------------------------------------------*/